@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background: no-repeat cover;
    shape-margin: 0.75rem;
  }

  [data-theme="light"] {
    --solid-black: 16, 16, 16;

    --black: 25, 25, 25;
    --white: 255, 255, 255;

    --orange-100: 255, 173, 114;
    --orange-200: 56, 37, 25;

    --blue-100: 180, 224, 234;
    --blue-200: 54, 67, 70;

    --green-100: 212, 230, 181;
    --green-200: 63, 69, 54;

    --yellow-100: 255, 244, 144;
    --yellow-200: 58, 49, 33;

    --pink-100: 255, 193, 204;
    --pink-200: 121, 34, 49;

    --error: 255, 94, 94;
    --success: 34, 187, 51;
  }

  [data-theme="dark"] {
    --solid-black: 16, 16, 16;

    --black: 255, 255, 255;
    --white: 25, 25, 25;

    --orange-100: 56, 37, 25;
    --orange-200: 255, 173, 114;

    --blue-100: 54, 67, 70;
    --blue-200: 180, 224, 234;

    --green-100: 63, 69, 54;
    --green-200: 212, 230, 181;

    --yellow-100: 58, 49, 33;
    --yellow-200: 255, 244, 144;

    --pink-100: 121, 34, 49;
    --pink-200: 255, 193, 204;

    --error: 255, 94, 94;
    --success: 34, 187, 51;
  }

  html.transition,
  html.transition *,
  html.transition *:before,
  html.transition *:after {
    transition: all 500ms !important;
    transition-delay: 0 !important;
  }
}

@media (prefers-color-sheme: dark) {
  :root {
    --black: 255, 255, 255;
    --white: 25, 25, 25;

    --orange-100: 56, 37, 25;
    --orange-200: 255, 173, 114;

    --blue-100: 54, 67, 70;
    --blue-200: 180, 224, 234;

    --green-100: 63, 69, 54;
    --green-200: 212, 230, 181;

    --yellow-100: 58, 49, 33;
    --yellow-200: 255, 244, 144;

    --pink-100: 121, 34, 49;
    --pink-200: 255, 193, 204;

    --error: 255, 94, 94;
  }
}

.transform-3d {
  transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}

.transform-3d:hover {
  transform: translate3d(0px, -10%, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}

.translate-xy {
  transform: translate(50%, 50%);
}

.-translate-xy {
  transform: translate(-50%, -50%);
}

.is-loading {
  overflow: hidden;
}

.disable-scroll {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
}
@media (max-width: 639px) {
  .disable-scroll {
    position: unset;
    overflow-y: unset;
    width: unset;
  }
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation:
    l20-1 0.8s infinite linear alternate,
    l20-2 1.6s infinite linear;
}

@keyframes l20-1 {
  0% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
  }
  12.5% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 0%,
      100% 0%,
      100% 0%
    );
  }
  25% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      100% 100%,
      100% 100%
    );
  }
  50% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  62.5% {
    clip-path: polygon(
      50% 50%,
      100% 0,
      100% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  75% {
    clip-path: polygon(
      50% 50%,
      100% 100%,
      100% 100%,
      100% 100%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  100% {
    clip-path: polygon(
      50% 50%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      0% 100%
    );
  }
}
@keyframes l20-2 {
  0% {
    transform: scaleY(1) rotate(0deg);
  }
  49.99% {
    transform: scaleY(1) rotate(135deg);
  }
  50% {
    transform: scaleY(-1) rotate(0deg);
  }
  100% {
    transform: scaleY(-1) rotate(-135deg);
  }
}

.translate3d {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}

.mockup:hover .translate3d {
  transform: translate3d(0px, -5%, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}

.input-box {
  @apply relative w-full  text-wrap rounded-[10px] border-[1px] border-none bg-transparent p-[10px] text-[12px]  text-black outline-none transition-all  placeholder:text-black/50 lg:p-[8px] lg:text-[11px] sm:p-3;
}

.comment-card {
  @apply flex flex-col gap-4 border-b-2 border-solid border-black/50 p-5 transition-all duration-300 hover:rounded-[20px] hover:ring-2 hover:ring-black;
}

.comment-holder {
  @apply flex w-full flex-col gap-4;
}

.reply-container {
  @apply ml-12 flex flex-row items-center gap-2 border-l-2 border-solid border-black/50 pl-6;
}

.comment-header {
  @apply flex w-full flex-row items-center justify-between;
}

.reply-card {
  @apply flex w-full flex-col gap-4  border-b-2 border-solid border-black/50 p-4 transition-all duration-300 hover:rounded-[20px] hover:ring-2 hover:ring-black/70;
}

.reply-holder {
  @apply flex w-full flex-col justify-center gap-8;
}

.reply-list {
  @apply flex-col gap-6;
}

.reply-btn {
  @apply flex h-12 w-fit -translate-y-1 cursor-pointer flex-row items-center justify-center gap-2 rounded-[10px] bg-solidblack px-6 text-base text-[#fff] transition duration-200 hover:-translate-y-0 hover:bg-blue-100 hover:text-blue-200;
}

.reply-input {
  @apply h-full w-full text-black ring-black/50 transition duration-200 focus:border-black/70 focus:ring-0 group-hover:placeholder:text-black;
}

.readmore {
  @apply cursor-pointer text-black underline hover:no-underline;
}

.user-profile-picture {
  @apply size-10 rounded-full bg-black;
}

.user-profile-name {
  @apply text-sm leading-[12px] text-black;
}

.user-profile-date {
  @apply text-[12px] text-black/70;
}

.likeButton {
  @apply shadow-box flex h-12 w-fit -translate-y-1 cursor-pointer flex-row items-center justify-center gap-2 rounded-[10px] bg-solidblack px-6 text-xl text-[#fff] transition duration-200 hover:-translate-y-0 hover:bg-pink-100 hover:text-pink-200;
}
.user-profile-holder {
  @apply flex flex-row items-center gap-3;
}

.post-card {
  @apply flex flex-col gap-8 border-b-2 p-5 transition-all duration-300 hover:border-b-4 hover:border-black hover:ring-1 hover:ring-inset hover:ring-black lg:gap-4 lg:p-2;
}

.post-title {
  @apply break-words text-2xl font-medium leading-[100%] text-black lg:text-xl;
}

.post-description {
  @apply overflow-hidden text-ellipsis whitespace-nowrap leading-[100%] text-black lg:text-sm;
}

.popover {
  @apply flex size-9 cursor-pointer items-center justify-center rounded-md text-center font-medium text-black transition-all duration-300 hover:bg-black hover:text-white;
}

.shadow-box {
  box-shadow: 0 4px rgba(var(--black), 0.5);
}

.shadow-box:hover {
  box-shadow: 0 0 rgba(var(--black), 0.5);
}

.circles {
  @apply absolute left-0 top-0 z-[-1] h-full w-full overflow-hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: black;
  border-width: 1px;
  border-style: solid;
  animation: animate 25s linear infinite;
  filter: blur(0px);
  bottom: -150px;
  transition: 2000ms;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
